@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-container{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
    width: 419px;
    height: 620px;
 

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;

}

.title#loginScTitle{

    margin: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 42px;
    color: #E20100;
}

.inputsLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

input, .email,.senha{
    width: 370px;
    height: 45px;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: #E20100; 
}

button.enter{
    margin: 20px 20px 0px 20px;
    border: 1px solid #E20100;
    background: #E20100;
}

button, .enter, .register{
    cursor: pointer;
    width: 370px;
    height: 45px;
    border-radius: 5px;
}

input::placeholder, .email, .senha{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    
    color: rgba(226, 1, 0, 0.6);
}

.enter-text,.register-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.span, .lineLogin{
    margin: 20px;
    width: 360px;
    height: 2px;
    background-color: #000000;
}

span, .forgotPassword{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    
    color: #E20100;
}

span, .loginSocial{

    margin: 10px 20px 20px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    color: #E20100;

    
}

button.login-gg, .login-fb{
    cursor: pointer;
    width: 177px;
    height: 48px;
    border-radius: 5px;
    background: #FFFFFF;
}

button.login-fb{

    border: 1px solid #609CCE;

}

button.login-gg{

    border: 1px solid #E20100;

}

.fb-text, .gg-text{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;

}

.fb-text{

    color: #0A61B1;

}

.gg-text{

    color: #E20100;

}

.loginOrLine{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.line1, .line2{

    width: 120px;
    height: 0px;
    border: 0.1px solid #000000;

}

.span4{

    width: 222px;
    height: 45px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    
    color: #E20100;
    
}

.register{
    background: #000000;
}
