@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbarShort {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 118px;
    padding: 0px 90px 0px 90px;
    background: #000000;

}

.logoNestHeader {

    margin: 20px;
    width: 135px;
    height: 86px;

}

.areaProfileNavShort{
    display: flex;
    width: 200px;
}

.iconProfileNavShort {

    width: 32px;
    height: 32px;

}

.textProfileNavShort {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
    color: #FFFFFF;

}

.linkLoginNavShort, .linkRegisterNavShort{

    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;

}

.inputs{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{

    width: 300px;
    height: 42px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    
    color: #000000;
    
}

.linkLegaPerson{

    width: 22px;
    height: 22px;
}

.typePerson1{

    width: 200px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    
    color: #000000;
    
}

.typePerson2{

    width: 200px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    
    color: #000000;
}

.circlePPerson{

    cursor:pointer;
    width: 22px;
    height: 22px;

}
.circle-typePerson2{

    cursor: pointer;
    width: 22px;
    height: 22px;

}

.required-field{

    width: 175px;
    height: 21px;   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(226, 1, 0, 0.7);
}

.accept-terms-1{
    
    width: 490px;
    height: 21px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #E20100;
}

.acceptTermsInput1{

    width: 18px;
    height: 15px;

    padding-left: 0px;
    background: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
}

.acceptTermsInput2{

    width: 18px;
    height: 15px;

    padding-left: 0px;
    background: #FFFFFF;
    border-radius: 5px 5px 5px 5px
}

.accept-terms-2{

    width: 580px;
    height: 21px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #E20100;
}

.creat-account {

    text-decoration: none;
    cursor: pointer;
    width: 370px;
    height: 45px;

    background: #000000;
    border-radius: 5px;

}

.creat-account-text {

    text-decoration: none;
    width: 139px;
    height: 30px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #ffffff;
}


.content{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 830px;
    background: #f5f5f5;
    
}


.line {

    display: flex;
    justify-content: center;
    position: absolute;
    width: 1441px;
    height: 70px;
    background: #211F1F;

}

.footer{

    width: 1440px;
    height: 415px;
    background: #000000;

}
.info-footer{

    width: 1314px;
    height: 199px;
    border: #F5F5F5 solid;
}

.social-media{

    margin-top: 8px;
    width: 34px;
    height: 27px;
}

.logoNestFooter{

    width: 189px;
    height: 204px;

    
}

.inputs{

    box-sizing: border-box;

    padding-left: 20px;
    padding-right: 10px;
    width: 370px;
    height: 45px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}

.input-email{

    box-sizing: border-box;

    padding-left: 20px;
    width: 760px;
    height: 45px;


    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;

}

input::placeholder {
 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: rgba(226, 1, 0, 0.9);

}

.eye-off{

    cursor: pointer;
    width: 18.89px;
    height: 18.82px;
    opacity: 1%;
    
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.img-eye-input-password{

    cursor: pointer;
    position: absolute;
    width: 19.89px;
    height: 20.82px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}